<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caravan Buddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CD30D0C1D3B0E4100852362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CD30D201D3B0E4100852362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CD30D2B1D3B0E4100852362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
